@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
.all{
    display: flex;
    justify-content: center;
}




h1{
    font-size: 50px;
    margin-bottom: 0.5em;
}

.inputs{
    border-width: 3px;
    border-color:#f8be00;
    border-radius: 20px;
    padding: 7px;
    font-size: 20px;
    margin-bottom: 1em;
}

.labels{
    font-size: 25px;
}

.login-button{
    display: flex;
    border: 0px;
    background: #f8be00;
    font-size: 17px;
    padding: 0.5em;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.login-button:hover {
    display: flex;
    border: 0px;
    background: #ffffff;
    font-size: 17px;
    padding: 0.5em;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.error{
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
}

.password-input{
    margin-left: 9px;
}

.login-page form i:hover{
    cursor: pointer;
}

.login-page form i{
    margin-left: 10px;
}
